* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: none;
}
*, *:before, *:after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	background-color: #fff;
	font-size: 16px;
	line-height: 1;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
aside, footer, header, main, nav, section {
	display: block;
}
input, button, textarea, select,
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
}

.header {
	padding: 15px 0;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__inner {
	display: flex;
	align-items: center;
	column-gap: 25px;
}
.inner-header {
}
.inner-header__logotype {
}
.logotype-header {
	display: flex;
	flex-grow: 2;
}
.logotype-header__link {
}
.inner-header__navigation {
}
.navigation-header {
	display: flex;
	flex-grow: 3;
	justify-content: center;
}
.navigation-header__list {
	display: flex;
	align-items: center;
}
.navigation-header__item:not(:last-child) {
	margin-right: 25px;
}
.navigation-header__link {
}
.inner-header__popups {
	display: flex;
	align-items: center;
	column-gap: 20px;
}
.burger-menu {
	position: relative;
	z-index: 30;
}
@media(max-width: 700px){
	.navigation-header {
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
	}
	.navigation-header.active {
		opacity: 1;
		visibility: visible;
	}
	.navigation-header__list {
		background-color: #000;
		color: #fff;
		width: 50%;
		align-items: flex-start;
		flex-direction: column;
		padding: 15px;
	}
	.navigation-header__item:not(:last-child) {
		margin-bottom: 25px;
	}
}